<%def name="online_help_token()"><% return "course" %></%def>
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.urls import reverse
from six import text_type
from datetime import datetime
%>
<%page args="course" expression_filter="h"/>
<%
if course.start is not None:
    course_date_string = course.start.strftime('%Y-%m-%dT%H:%M:%S%z')
else:
    course_date_string = ''
%>

<%static:require_module_async module_name="js/dateutil_factory" class_name="DateUtilFactory">
    DateUtilFactory.transform(iterationKey=".localized_datetime");
</%static:require_module_async>


<div class="grid sm:grid-cols-3 gap-2 sm:gap-8">
  <a href="${reverse('about_course', args=[text_type(course.id)])}" class="latest-story-image">
    <img loading="lazy" sizes="100vw" src="${course.course_image_url}" alt="${course.display_name_with_default} ${course.display_number_with_default}" width="720" height="520">
  </a> 
  <div class="sm:col-span-2 flex flex-col-reverse sm:flex-col space-y-2 sm:space-y-0">
    <a href="${reverse('about_course', args=[text_type(course.id)])}" class="font-roboto font-bold text-2xl sm:text-3xl capitalize hoverable-static">
      <span class="hoverable-highlight">
        ${course.display_name_with_default}   
      </span>
    </a> 
    <p class="sm:block text-xl py-2">
      ${course.short_description}
    </p> 
  <div>
  <span role="presentation" class="inline-flex w-4 h-4 rounded bg-cyan mr-2">
    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none" class="m-auto"><path d="M5.082 10L6.18 7.286h2.066l.292-.794H6.508l1.225-2.984h1.993l.274-.78H8.044L9.159 0H8.044L6.947 2.729H4.936L6.033 0H4.899L3.803 2.729H1.792l-.293.78h1.974L2.267 6.491H.31L0 7.286h1.938L.823 10h1.133l1.097-2.714h2.03L3.966 10h1.115zm.311-3.508h-2.01l1.224-2.984h2.01L5.394 6.492z" fill="#000"></path></svg></span> <a href="/en/search?tags=%23TargetedPolAds" class="text-sm hoverable-static">
      <span class="hoverable-highlight">${course.start.strftime('%B %d, %Y')}</span></a>
    </div>
  </div>
</div>