<%page expression_filter="h"/>
<%namespace name='static' file='static_content.html'/>
<%! from django.utils.translation import ugettext as _ %>

% if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):

  <div class="relative pt-6 pb-4 px-4">
    <div class="absolute inset-0">
      <div class="bg-white h-1/3 sm:h-2/3"></div>
    </div>
    <div class="relative max-w-7xl mx-auto">
      <div class="text-center">
        <h1 class="section-title">
          Our <span class="highlight-cyan">Courses<span>
        </h1>
        <p class="mt-3 max-w-2xl mx-auto text-xl text-gray-500 sm:mt-4 font-sans">
          These are the next scheduled courses being run.
        </p>
      </div>
      ## limiting the course number by using HOMEPAGE_COURSE_MAX as the maximum number of courses
      %for course in courses[:homepage_course_max]:
        <!-- Course cards go here -->
        <%include file="course.html" args="course=course" />
      %endfor

      ## in case there are courses that are not shown on the homepage, a 'View all Courses' link should appear
      <!-- % if homepage_course_max and len(courses) > homepage_course_max: -->
        <div class="">
          <div class="max-w-2xl mx-auto text-center py-16 px-4 sm:py-20 sm:px-6 lg:px-8">
            <a href="/courses" class="link-btn">
              More Courses
            </a>
          </div>
        </div>
      <!-- % endif -->
    </div>
  </div>
% endif
