<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.urls import reverse

from openedx.core.djangolib.markup import HTML, Text
%>


<!-- Hero -->
<!--
  This example requires Tailwind CSS v2.0+ 
  
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ]
  }
  ```
-->
<!-- Features -->
<!-- This example requires Tailwind CSS v2.0+ -->
<div class="relative bg-white">
  <!-- Bring courses list -->
  <div class="relative">
    <%include file="${courses_list}" />
  </div>
</div>
<!-- This example requires Tailwind CSS v2.0+ --
  