<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.urls import reverse

from openedx.core.djangolib.markup import HTML, Text
%>

<div class="relative bg-white">
  <!-- Bring courses list -->
  <div class="bg-gray-100">
    <div class="sm:flex items-center">
      <div class="md:w-1/2 w-full">
        <img loading="lazy" src="${static.url('assets/img/hero-02.jpeg')}" width="1440" height="1160" class="stories-header-image">
      </div> 
      <div class="half-container pl-8 xl:grid grid-cols-6 gap-8 w-full">
        <div class="col-start-2 col-span-5 mt-4 lg:mt-0">
          <p class="md:text-xl sm:text-lg text-base sm:py-4 pt-4 pb-3">
           The <a href="https://knowledgehub.liberties.eu/">knowledge hub</a> is an e-learning platform that helps NGOs and civil society organisations to develop their teams' professional skills in various areas.             
          </p> 

           <p class="md:text-xl sm:text-lg text-base mt-0 sm:py-4 pt-0 pb-3">
            Here you will find free, easy-to-follow courses that will help make your advocacy work and campaigns more impactful. 
          </p> 
           <h4 class="font-roboto font-bold text-sm sm:text-lg sm:pb-4 pb-2">
            Register for your first course today 
          </h4> 
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <%include file="${courses_list}" />
  </div>
</div>
  