header.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
}
#content {
  padding-top: 92px;
  min-height: 55vh;
}
#register-goals {
  height: 120px;
}

.header .nav-links .nav-tab a {
  color: #969696 !important;
  opacity: 1;
  line-height: 1;
  text-transform: uppercase;
  font-family: 'Roboto Condensed';
  font-weight: bold !important;
  font-size: initial;
  padding-top: 9px;
  padding-bottom: 3px;
}
.login-register-content {
  margin-top: 0;
  padding-top: 20px;
}
.container::after {
  display: none;
}
.dropdown {
  z-index: 999;
}
.toggle-user-dropdown .fa-caret-down:before {
  color: #fff;
}
.hidden {
  visibility: initial;
}
.mobile-menu-toggler {
  border: none;
  color: #fff!important;
  background: none!important;
  box-shadow: none!important;
}
a:not(.btn), a:visited {
  color: inherit;
}
a:not(.btn), a:visited:not(.btn) {
  color: rgba(255,255,255,var(--tw-text-opacity));
}
.global-header .hamburger-menu {
  right: 20px;
  top: 5px;
  left: inherit;
}
.global-header .hamburger-menu .line {
  height: 2px;
  background: #ffffff;
}

#content,
.find-courses,
.university-profile {
  background-color: #f4f4f4;
}
.courses-container .courses .course {
  border-bottom: 3px solid #ec5713;
}
a {
  text-decoration: inherit !important;
  text-decoration-line: inherit !important;
  text-decoration-thickness: inherit !important;
  text-decoration-style: inherit !important;
  text-decoration-color: inherit !important;
}
footer a:hover {
  text-decoration: underline;
  color: #ec5713 !important;
}
.verification-process
  .report-receipt-provider
  .provider-buttons-logos
  .complete-order
  button,
.dashboard .main-container .my-courses .course .details .enter-course,
.wrapper-messages-primary .message.message-upsell .action-view-consent,
.wrapper-messages-primary .message.message-status .verification-cta .btn,
.wrapper-messages-primary .message.message-status .credit-action .credit-btn,
.btn-secondary,
.wrapper-messages-primary .message.message-upsell .action-view-consent.archived,
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .field
  .u-field-link,
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .u-field-order
  .u-field-order-link
  .u-field-link,
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .u-field-order-lines
  .u-field-order-link
  .u-field-link,
.account-settings-sections
  .section
  .account-deletion-details
  .btn-outline-primary,
.account-settings-sections
  .section
  .account-deletion-details
  .delete-confirmation-wrapper
  .paragon__modal-footer
  .paragon__btn-outline-primary,
.account-settings-message .alert-message .alert-actions .btn-alert-secondary,
.courseware-bookmarks-button .bookmarks-list-button {
  border: 1px solid #000 !important;
  border-radius: 2px !important;
  color: #ec5713 !important;
}
.dashboard .main-container .my-courses .course .details .enter-course,
.wrapper-messages-primary .message.message-upsell .action-view-consent {
  color: #fff !important;
  background-color: #ec5713 !important;
  border: none !important;
}
.verification-process
  .report-receipt-provider
  .provider-buttons-logos
  .complete-order
  button:hover,
.dashboard .main-container .my-courses .course .details .enter-course:hover,
.wrapper-messages-primary .message.message-upsell .action-view-consent:hover,
.wrapper-messages-primary .message.message-status .verification-cta .btn:hover,
.wrapper-messages-primary
  .message.message-status
  .credit-action
  .credit-btn:hover,
.btn-secondary:hover,
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .field
  .u-field-link:hover,
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .u-field-order
  .u-field-order-link
  .u-field-link:hover,
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .u-field-order-lines
  .u-field-order-link
  .u-field-link:hover,
.account-settings-sections
  .section
  .account-deletion-details
  .btn-outline-primary:hover,
.account-settings-sections
  .section
  .account-deletion-details
  .delete-confirmation-wrapper
  .paragon__modal-footer
  .paragon__btn-outline-primary:hover,
.account-settings-message
  .alert-message
  .alert-actions
  .btn-alert-secondary:hover,
.courseware-bookmarks-button .bookmarks-list-button:hover,
.verification-process
  .report-receipt-provider
  .provider-buttons-logos
  .complete-order
  button:focus,
.dashboard .main-container .my-courses .course .details .enter-course:focus,
.wrapper-messages-primary .message.message-upsell .action-view-consent:focus,
.wrapper-messages-primary .message.message-status .verification-cta .btn:focus,
.wrapper-messages-primary
  .message.message-status
  .credit-action
  .credit-btn:focus,
.btn-secondary:focus,
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .field
  .u-field-link:focus,
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .u-field-order
  .u-field-order-link
  .u-field-link:focus,
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .u-field-order-lines
  .u-field-order-link
  .u-field-link:focus,
.account-settings-sections
  .section
  .account-deletion-details
  .btn-outline-primary:focus,
.account-settings-sections
  .section
  .account-deletion-details
  .delete-confirmation-wrapper
  .paragon__modal-footer
  .paragon__btn-outline-primary:focus,
.account-settings-message
  .alert-message
  .alert-actions
  .btn-alert-secondary:focus,
.courseware-bookmarks-button .bookmarks-list-button:focus {
  background-color: #000 !important;
  color: #fff !important;
}
.global-header .header-logo a {
  margin: 22px 0 0 40px;
}
.global-header .secondary .menu-title {
  margin: 0;
}
.wrap-instructor-info .instructor-info-action:hover {
  background-color: #73d5ff;
}
@media (min-width: 992px) {
  .header .nav-links .nav-tab a {
    border-bottom: 2px solid transparent !important;
  }
  .header .nav-links .secondary .nav-item {
    padding:0;
  }
  .global-header .dropdown-user-menu {
    top: 150px;
    right: 30px;
  }

  .global-header .nav-links .nav-tab a {
    padding: 7px 0 0px !important;
    margin: 0 20px;
  }
  .header .nav-links .nav-tab a.active,
  .header .nav-links .nav-tab a:hover {
    border-bottom-color: #ec5713 !important;
  }
  .header .nav-links .nav-tab a:hover {
    border-bottom-color: #ec5713 !important;
  }
  .courses-container .courses .course .course-image .cover-image .learn-more {
    border-color: #ec5713;
    background: #ec5713;
    font-family: 'Roboto Condensed';
  }
}
.find-courses .search-facets .facet-option:hover,
.find-courses .search-facets .facet-option:focus {
  background: #73d5ff;
  color: #000 !important;
}
.find-courses .search-facets .facet-option:hover .count,
.find-courses .search-facets .facet-option:focus .count {
  color: #000 !important;
}
.find-courses .discovery-submit {
  background: #73d5ff;
  border: 2px solid #73d5ff;
  box-shadow: none !important;
  color: #000;
}
.find-courses .loading-spinner {
  background: #73d5ff;
}
.find-courses .discovery-submit:hover {
  background: #73d5ff;
}
.dashboard
  .main-container
  .my-courses
  .listing-courses
  .course-item {
  background-color: #fff;
  padding-bottom: 0!important;
}
.listing-courses .course-item .course-container {
  border: none !important;
}
.section-bkg-wrapper {
  background-color: #fff;
}

/**COOCKIE BANNER**/
#frontend-component-cookie-policy-banner {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100!important;
}
.edx-cookie-banner-wrapper {
  background: #f4f4f4;
  box-sizing: border-box;
  text-align: left;
  line-height: 1.5;
  font-family: 'Roboto Condensed';
  font-size: 1rem;
  font-weight: 400;
}
.edx-cookie-banner-wrapper .edx-cookie-banner .btn.close {
  border: none !important;
  text-shadow: inherit;
  opacity: 0.6;
  box-shadow: none !important;
  color: #ec5713 !important;
  outline: none !important;
  transition: 0.25s;
}
.edx-cookie-banner-wrapper .edx-cookie-banner .btn.close:hover {
  opacity: 1;
}

/**FONTS**/
.section-title {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 2.25rem;
  line-height: 1.3333333333333333;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Roboto Condensed';
  color: #000;
  line-height: 1.333333;
}
.content p, .content li {
  font-size: 1rem;
  line-height: 1.5rem;
}
.content h1, .content h2, .content h3, .content h4, .header-courses {
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: 'Roboto Condensed';
  color: #000;
}

.modal .inner-wrapper form .submit input[type="submit"], .leanModal_box .inner-wrapper form .submit input[type="submit"], .entitlement-unenrollment-modal .inner-wrapper form .submit input[type="submit"], .entitlement-unenrollment-modal .entitlement-unenrollment-modal-inner-wrapper form .submit input[type="submit"] {
  background-image: none;
  box-shadow: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  border: none;
  width: 100%;
  font-family: 'Roboto Condensed';
  text-shadow: none;
  white-space: normal;
}

#dashboard-search-bar {
  margin-top: 20px;
}
#dashboard-search-input, #discovery-input {
  box-shadow: none;
  outline: none;
  border: none;
}
#discovery-input {
  padding: 0 15px;
}
.content h1, .course-info h1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.stories-header-image {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  max-height: 180px;
}
.content h2, .header-courses {
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.content h3 {
  font-size: 1.5rem;
  line-height: 2rem;
}
.content h4 {
  font-size: 1.25rem;
  line-height: 2rem;
}
.course-info .details h2, .course-info .details .home>header .title>.heading-group p, .home>header .title>.heading-group .course-info .details p, .course-info .details section.outside-app h1, section.outside-app .course-info .details h1 {
  font-family: 'Roboto Condensed';
}
.course-info .details p {
  margin-bottom: 10px;
  font-family: 'Roboto Condensed';
}
.course-info .course-sidebar header .social-sharing .sharing-message {
  font-family: 'Roboto Condensed';
}

@media (min-width: 768px) {
  .section-title {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  .stories-header-image {
    max-height: 400px;
  }
  .content p, .content li {
    font-size: 1.125rem;
    line-height: 2rem;
  }
  .content h1, .course-info h1 {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  .content h2, .header-courses {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  .content h3 {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  .content h4 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

@media (min-width: 1024px) {
  .section-title {
    font-size: 3rem;
    line-height: 1;
  }
  .stories-header-image {
    max-height: 580px;
  }
  .content h1, .course-info h1 {
    font-size: 3.75rem;
    line-height: 1;
  }
  .content h2, .header-courses {
    font-size: 3.75rem;
    line-height: 1;
  }
  .content h3 {
    font-size: 3rem;
    line-height: 1;
  }
  .content h4 {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

/**FORMS**/
/* .login-register .form-field, .financial-assistance-wrapper .financial-assistance-form .form-field {
  display: flex;
  align-items: center;
} */
.login-register .form-field input, .financial-assistance-wrapper .financial-assistance-form .form-field input, .login-register .form-field select, .financial-assistance-wrapper .financial-assistance-form .form-field select, .login-register .form-field textarea, .financial-assistance-wrapper .financial-assistance-form .form-field textarea {
  height: 45px;
  box-shadow: none;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  padding-left: 15px;
}
.login-register .form-field label.focus-out, .financial-assistance-wrapper .financial-assistance-form .form-field label.focus-out, .login-register .form-field input.focus-out, .financial-assistance-wrapper .financial-assistance-form .form-field input.focus-out, .login-register .form-field select.focus-out, .financial-assistance-wrapper .financial-assistance-form .form-field select.focus-out, .login-register .form-field textarea.focus-out, .financial-assistance-wrapper .financial-assistance-form .form-field textarea.focus-out, .login-register .form-field .plaintext-field.focus-out, .financial-assistance-wrapper .financial-assistance-form .form-field .plaintext-field.focus-out {
  padding: 12px 10px;
}
.login-register .form-field input.checkbox + label, .financial-assistance-wrapper .financial-assistance-form .form-field input.checkbox + label, .login-register .form-field select.checkbox + label, .financial-assistance-wrapper .financial-assistance-form .form-field select.checkbox + label, .login-register .form-field textarea.checkbox + label, .financial-assistance-wrapper .financial-assistance-form .form-field textarea.checkbox + label {
  margin-left: 8px;
  margin-top: 0;
}
.listing-tools, .listing-tools .listing-sort-select, .verification-process .help-item .copy, .verification-process .carousel .requirements .requirement .copy, .verification-process .carousel .wrapper-task .wrapper-help .help .copy, .verification-process .carousel #wrapper-review .review-task-photos .wrapper-photos .help-tips .copy, .verification-process.step-select-track .register-choice-certificate .action-intro, .verification-process.step-select-track .help-register .copy, .u-field-message, .modal-settings-language .actions-supplemental .list-actions-item, .wrapper-messages-primary .message .message-copy, .wrapper-messages-primary .message .message-copy .copy, .wrapper-messages-primary .message.message-status .message-copy, .wrapper-messages-primary .message.message-status .certificate-explanation, .status-verification .status-data-message, .find-courses .discovery-input, .view-survey .action-cancel, .view-survey button, .view-survey input, .view-survey select, .view-survey textarea, .view-survey .bit p, .login-register .form-field .tip, .financial-assistance-wrapper .financial-assistance-form .form-field .tip, .login-register .form-field .label-optional, .financial-assistance-wrapper .financial-assistance-form .form-field .label-optional, .verification-process .wrapper-msg .msg-content .copy, .verification-process .nav-wizard .help-inline, .verification-process.step-select-track .register-choice-certificate .title-expand, .verification-process.step-review .nav-wizard .prompt-verify .copy, .verification-process.step-review .nav-wizard .prompt-verify .action-verify label, .verification-process.step-review .nav-wizard .step-match label, .verification-process .pay-and-verify .photo-tip, .verification-process .incourse-reverify .photo-tip, .verification-process .reverify .photo-tip, #expiry-msg, .shopping-cart .col-two .row-inside .billing-detail-label, .shopping-cart .col-two .row-inside .billing-detail-value, .shopping-cart .bordered-bar h2 span .blue-link, .shopping-cart .bordered-bar .home>header .title>.heading-group p span .blue-link, .home>header .title>.heading-group .shopping-cart .bordered-bar p span .blue-link, .shopping-cart .bordered-bar section.outside-app h1 span .blue-link, section.outside-app .shopping-cart .bordered-bar h1 span .blue-link, .shopping-cart table.course-receipt tr td:last-child span, .empty-cart p, .enrollment-modal-wrapper.is-shown .enrollment-modal .enrollment-change-field p, .enrollment-modal-wrapper.is-shown .enrollment-modal .enrollment-change-field label, .enrollment-modal-wrapper.is-shown .enrollment-modal .enrollment-change-field select, .enrollment-modal-wrapper.is-shown .enrollment-modal .enrollment-change-field input, .enrollment-modal-wrapper.is-shown .enrollment-modal .enrollment-change-errors, #api-access-wrapper p, #api-access-wrapper .api-form-container .api-form p .helptext, .view-profile .wrapper-profile-section-container-two .u-field.mode-placeholder .u-field-value, .view-profile .badge-set-display .badge-display .badge-details, .view-profile .badge-set-display .badge-display .badge-details .badge-date-stamp, .wrapper-msg .msg-content .copy, .wrapper-msg .msg-content .copy p, .message, .wrapper-notification .copy, .wrapper-alert .copy, .prompt .copy, .notification .copy, .alert:not(.pattern-library-shim) .action-dismiss .button-copy, .wrapper-message .message, .wrapper-message .message.information, .main-wrapper .alert {
  font-size: 12px;
  line-height: 20.72px;
  width: 100%;
  padding: 0;
  margin: 0;
}


/**LMS NOT TEMPLAYTED**/
.global-header .dropdown-user-menu {
  z-index: 20!important;
}

.course-info header.course-profile {
  width: 90%;
  margin: auto !important;
  max-width: 1620px;
}
.course-info
  header.course-profile
  .intro-inner-wrapper
  .intro
  .main-cta
  strong:hover {
  background-color: #000 !important;
}
.wrapper-preview-menu {
  background-color: #ec5713 !important;
}
.courses-container .courses .course .course-info {
  font-family: 'Lato';
}
.courses-container .courses .course .course-info .course-title {
  font-family: 'Roboto Condensed';
  font-weight: bold;
  color: #000;
  margin: 5px 15px 35px 15px;
  height: auto;
  padding: 0;
  width: fit-content;
}

#main {
  max-width: 80rem !important;
  margin: auto !important;
}
.dashboard .main-container {
  padding: 30px 20px 20px 20px;
}
.search-bar .search-button,
.search-bar .cancel-button,
.search-bar .search-button:hover,
.search-bar .cancel-button:hover {
  background: #73d5ff;
  color: #000;
}
.search-bar .search-button:hover,
.search-bar .search-button:focus,
.search-bar .search-button:active,
.search-bar .cancel-button:hover,
.search-bar .cancel-button:focus,
.search-bar .cancel-button:active,
.search-bar .search-button:hover:hover,
.search-bar .search-button:hover:focus,
.search-bar .search-button:hover:active,
.search-bar .cancel-button:hover:hover,
.search-bar .cancel-button:hover:focus,
.search-bar .cancel-button:hover:active {
  background: #73d5ff;
}
/**LIBERTIES STYLES**/
body.error h1,
.dashboard
  .main-container
  .my-courses
  .course
  .details
  .wrapper-course-details
  .course-title
  a,
.dashboard
  .main-container
  .my-courses
  .course
  .details
  .wrapper-course-details
  .course-title
  span,
.pagination .page-divider,
.verification-process .carousel .view > .title,
.verification-process .content-main > .title,
.register.is-not-verified.step-confirmation .view .title,
.view-survey .header-survey .title,
.wrapper-account-settings .wrapper-header .header-title,
.login-register-content h1,
.verification-process .reverify-success-step .title,
.reverify-blocked .title,
.confirm-enrollment .title,
.confirm-enrollment .enrollment-details .course-title h1,
.shopping-cart h1,
.shopping-cart .user-data .data-input .course-display-name,
.shopping-cart .user-data .data-input .course-display-dates,
.shopping-cart .user-data .data-input h1,
.wrapper-authorize h1,
.financial-assistance-wrapper h1,
#api-access-wrapper h1,
.view-profile .profile-header .header,
.view-profile
  .wrapper-profile-section-container-one
  .wrapper-profile-section-one
  .profile-section-one-fields
  > .u-field:first-child,
.home > header .title .course-search .search-input,
.dashboard-banner .wrapper-msg .msg.title,
.view-survey .header-survey .course-name,
.view-survey .message.submission-error .message-title,
.account-settings-sections .section-header,
.login-register .status .message-title,
.financial-assistance-wrapper .financial-assistance-form .status .message-title,
.verification-process .title,
.verification-process .page-header .title .sts-label,
.verification-process .page-header .title .sts-course-org,
.verification-process .page-header .title .sts-course-number,
.verification-process .page-header .title .sts-course-name,
.verification-process.step-select-track .register-choice .title,
.verification-process.step-requirements .list-reqs .req .title,
.verification-process.step-requirements .list-reqs .req-activate .title,
.confirm-enrollment .enrollment-details .sub-title,
.shopping-cart .billing-data h3,
.shopping-cart .pattern h2,
.shopping-cart .pattern .home > header .title > .heading-group p,
.home > header .title > .heading-group .shopping-cart .pattern p,
.shopping-cart .pattern section.outside-app h1,
section.outside-app .shopping-cart .pattern h1,
.empty-cart h2,
.empty-cart .home > header .title > .heading-group p,
.home > header .title > .heading-group .empty-cart p,
.empty-cart section.outside-app h1,
section.outside-app .empty-cart h1,
#api-access-wrapper h2,
#api-access-wrapper .home > header .title > .heading-group p,
.home > header .title > .heading-group #api-access-wrapper p,
#api-access-wrapper section.outside-app h1,
section.outside-app #api-access-wrapper h1,
.certificate-card .card-title,
.dashboard-search-results .search-info h2,
.dashboard-search-results .search-info .home > header .title > .heading-group p,
.home > header .title > .heading-group .dashboard-search-results .search-info p,
.dashboard-search-results .search-info section.outside-app h1,
section.outside-app .dashboard-search-results .search-info h1,
.wrapper-msg .msg-content .title,
.verification-process .carousel .requirements .title,
.verification-process .carousel .requirements .requirement .title,
.verification-process .carousel .wrapper-task .wrapper-help .help .title,
.verification-process .carousel #wrapper-review .review-task > .title,
.verification-process .list-faq .faq-question,
.verification-process.step-confirmation .list-info .info-item > .title,
.verification-process .help-item .title,
.verification-process.step-select-track .help-register .title,
.verification-process.step-select-track .field-certificate-contribution .label,
.verification-process.step-review .nav-wizard .prompt-verify .title,
.wrapper-messages-primary .message .message-title,
.wrapper-messages-primary .message .message-copy .title,
.find-courses .search-facets .header-search-facets,
.find-courses .search-facets .header-facet,
.login-register-content h3,
.verification-process .wrapper-msg .msg-content .title,
.shopping-cart .user-data .data-input h3,
.shopping-cart .user-data .data-input h3 span,
.shopping-cart .user-data .data-input .course-registration-title,
.shopping-cart .user-data .data-input .course-dates-title,
.shopping-cart h3,
.enrollment-modal-wrapper.is-shown .enrollment-modal .enrollment-change-title,
.financial-assistance-wrapper h2,
.financial-assistance-wrapper .home > header .title > .heading-group p,
.home > header .title > .heading-group .financial-assistance-wrapper p,
.financial-assistance-wrapper section.outside-app h1,
section.outside-app .financial-assistance-wrapper h1,
.certificate-card .card-supertitle,
.view-profile .profile-header .subheader,
.view-profile .wrapper-profile-section-container-two .u-field-title,
.msg__title,
.verification-process
  .carousel
  #wrapper-review
  .review-task-photos
  .wrapper-photos
  .help-tips
  .title,
.dashboard
  .main-container
  .my-courses
  .course
  .details
  .wrapper-course-details
  .course-info
  [class*='info-'],
.dashboard
  .main-container
  .my-courses
  .course
  .details
  .wrapper-course-details
  .course-info
  .info-date-block-container
  .info-date-block,
.dashboard
  .main-container
  .my-courses
  .course
  .details
  .wrapper-course-details
  .course-info
  .info-date-block-container
  .change-session,
.dashboard
  .main-container
  .my-courses
  .course
  .details
  .course-actions
  .wrapper-action-more
  .actions-dropdown
  .actions-item,
.dashboard
  .main-container
  .my-courses
  .course
  .details
  .course-actions
  .entitlement-actions-wrapper
  .actions-dropdown
  .actions-item,
.entitlement-actions-wrapper
  .dashboard
  .main-container
  .my-courses
  .course
  .details
  .course-actions
  .wrapper-action-more
  .entitlement-actions-dropdown
  .actions-item,
.dashboard
  .main-container
  .my-courses
  .course
  .details
  .course-actions
  .entitlement-actions-wrapper
  .entitlement-actions-dropdown
  .actions-item,
.entitlement-actions-wrapper
  .entitlement-actions-dropdown
  .entitlement-actions-dropdown-list
  .dashboard
  .main-container
  .my-courses
  .course
  .details
  .course-actions
  .wrapper-action-more
  .actions-dropdown
  .entitlement-actions-item,
.entitlement-actions-wrapper
  .dashboard
  .main-container
  .my-courses
  .course
  .details
  .course-actions
  .wrapper-action-more
  .entitlement-actions-dropdown
  .entitlement-actions-dropdown-list
  .entitlement-actions-item,
.dashboard
  .main-container
  .my-courses
  .course
  .details
  .course-actions
  .entitlement-actions-wrapper
  .entitlement-actions-dropdown
  .entitlement-actions-dropdown-list
  .entitlement-actions-item,
.view-survey .bit .title,
.verification-process .wrapper-report .report thead th[scope='col'],
.verification-process
  .progress
  .progress-step
  .wrapper-step-number
  .step-number,
.verification-process .progress .progress-step .step-name,
.enrollment-results th,
.manage-user-results th,
.fb-enrollments-results th,
.notification .copy .title,
.alert:not(.pattern-library-shim) .copy .title,
.nav-utilities .action-toggle-message,
.view-survey .header-survey .course-org,
.view-survey .header-survey .course-number,
.certificate-card .card-text,
.dashboard
  .main-container
  .my-courses
  .course
  .details
  .wrapper-course-image
  .sts-enrollment
  .sts-enrollment-value,
.verification-process .page-header .title .sts-track .sts-track-value,
.view-survey .header-survey .course-info,
.verification-process h1,
.verification-process h2,
.verification-process .home > header .title > .heading-group p,
.home > header .title > .heading-group .verification-process p,
.verification-process section.outside-app h1,
section.outside-app .verification-process h1,
.verification-process h3,
.verification-process h4,
.verification-process h5,
.verification-process h6,
.dashboard-search-bar label {
  font-family: 'Lato';
}
.hoverable-highlight, .course-title {
  transition: box-shadow 0.3s cubic-bezier(0.25, 0.85, 0.55, 1),
    background-color 0.3s cubic-bezier(0.25, 0.85, 0.55, 1),
    color 0.3s cubic-bezier(0.25, 0.85, 0.55, 1);
}
.hoverable-static:hover .hoverable-highlight,
.hoverable:hover .hoverable-highlight, .curse-item:hover .hoverable-highlight {
  --tw-bg-opacity: 1;
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    0 0 transparent;
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 transparent);
  --tw-ring-opacity: 1;
  --tw-ring-color: rgba(0, 0, 0, var(--tw-ring-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity))!important;
}
article:hover .course-title {
  --tw-bg-opacity: 1;
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    0 0 transparent;
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 transparent);
  --tw-ring-opacity: 1;
  --tw-ring-color: rgba(0, 0, 0, var(--tw-ring-opacity));
  --tw-text-opacity: 1;
  color: #fff !important;
}

.donation-buttons {
  text-transform: uppercase;
  font-weight: 700!important;
  transition: .25s;
}
.shadow-inner {
  --tw-shadow: inset 0px 0px 0px 1px #ec5713;
}
.donation-buttons:focus, .donation-buttons:hover, .login-register .action-primary:hover {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(4px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),0 0 transparent;
  box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow,0 0 transparent);
  --tw-ring-opacity: 1;
  --tw-ring-color: rgba(236,87,19,var(--tw-ring-opacity));
  --tw-ring-opacity: 0.6;
  outline: none;
  z-index: 10;
}
.donation-buttons.active, .donation-buttons:focus, .donation-buttons:hover {
  background-color: rgba(236,87,19,1)!important;
  border-color: rgba(236,87,19,1);
  color: rgba(255,255,255,1);
}

.login-register .action-primary {
  background-color: rgba(236,87,19,1)!important;
  font-weight: 700!important;
  text-transform: uppercase;
}
.login-register .section-title.lines::after, .financial-assistance-wrapper .financial-assistance-form .section-title.lines::after {
  height: 0;
}
.login-register .section-title.lines .text, .financial-assistance-wrapper .financial-assistance-form .section-title.lines .text {
  background: transparent;
}
.global-header .nav-links .secondary .dropdown-user-menu .dropdown-item a {
  margin: 0;
}
.link-btn {
  color: rgba(0,0,0,1);
}
.link-btn, .link-btn-invert {
  font-weight: 700!important;
  text-transform: uppercase;
  font-family: 'Roboto Condensed'!important;
  transition: color .3s cubic-bezier(.25,.85,.55,1),background .3s cubic-bezier(.25,.85,.55,1),border .3s cubic-bezier(.25,.85,.55,1),box-shadow .3s cubic-bezier(.25,.85,.55,1);
  border-bottom: 0.125rem solid #ec5713;
}
.link-btn--light {
  color: rgba(0,0,0,1);
  transition: color .3s cubic-bezier(.25,.85,.55,1),background .3s cubic-bezier(.25,.85,.55,1),border .3s cubic-bezier(.25,.85,.55,1),box-shadow .3s cubic-bezier(.25,.85,.55,1);
  border-bottom: 0.125rem solid #ec5713;
}
@media (min-width: 640px) {
  .link-btn, .link-btn-invert {
    font-size: 1.5rem!important;
    line-height: 2rem;
  }
}
.link-btn-invert, .link-btn:hover, .link-btn--light:hover {
  color: rgba(255,255,255,1)!important;
}
.link-btn:hover, .link-btn--light:hover {
  background-color: rgba(0,0,0,1);
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),0 0 transparent;
  box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow,0 0 transparent);
  --tw-ring-color: rgba(0,0,0,1);
}
.link-btn-invert:hover, .link-btn:hover, .link-btn--light:hover {
  border-color: transparent;
}
.highlight-cyan {
  background-color: #73d5ff;
  box-shadow: -0.1em 0 #73d5ff, 0.1em 0 #73d5ff;
}
.highlight-orange {
  background-color: #ec5713;
  box-shadow: -0.1em 0 #ec5713, 0.1em 0 #ec5713;
}
img, video {
  max-width: 100%;
  height: auto;
}
.latest-story-image>img {
  border-radius: 0.125rem;
  width: 100%;
}

.course-info .container .wrap-instructor-info .instructor-info-action:hover, .course-info section.outside-app .wrap-instructor-info .instructor-info-action:hover, .course-info .view-profile .profile-self .wrapper-profile-field-account-privacy .u-field-account_privacy .wrap-instructor-info .instructor-info-action:hover, .view-profile .profile-self .wrapper-profile-field-account-privacy .course-info .u-field-account_privacy .wrap-instructor-info .instructor-info-action:hover, .course-info .view-profile .wrapper-profile-sections .wrap-instructor-info .instructor-info-action:hover, .view-profile .course-info .wrapper-profile-sections .wrap-instructor-info .instructor-info-action:hover, .course-info .view-profile .badge-set-display .wrap-instructor-info .instructor-info-action:hover, .view-profile .course-info .badge-set-display .wrap-instructor-info .instructor-info-action:hover {
  background-color: #73d5ff;
}
#login-and-registration-container {
  padding-bottom: 120px;
}

/**CONTAINER**/
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
.half-container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
@media (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .half-container {
    max-width: 384px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
  .half-container {
    max-width: 512px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
  .half-container {
    max-width: 640px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
  } 
}

/**LIBERTIES FOOTER**/
.footer-contacts {
  padding-top: 3rem;
  align-items: flex-start;
}
.footer-label {
  font-size: .875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  --tw-text-opacity: 0.7;
  font-style: normal;
}
.footer-label.-terms {
  font-family: 'Roboto Condensed';
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  --tw-text-opacity: 0.8;
  text-transform: uppercase;
}
.footer-label, .footer-label.-terms {
  color: rgba(255,255,255,var(--tw-text-opacity))!important;
}
.mobile-menu {
  padding-top: 50px;
  border-top: none;
}
.user-dropdown {
  border: none;
  box-shadow: none!important;
  height: fit-content;
  transition: .25s;
}
.user-dropdown:hover {
  background-color: transparent!important;
  box-shadow: none;
  background-image: none!important;
  border: none;
  outline: none;
  z-index: 10;
}
#dropdownAvatar {
  left: -135px!important;
}
#dropdownAvatar::after {
  right: 45px;
}
.logo {
  height: 60px;
  background-size: 0;
}
.logo svg {
  height: 100%;
  width: 100%;
}
.footer-label, .footer-label.-terms {
  color: rgba(255,255,255,var(--tw-text-opacity));
}
.footer-label {
  font-size: .875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  --tw-text-opacity: 0.7;
  font-style: normal;
}
.cc-grower {
  position: fixed;
  width: 100%;
  z-index: 1;
  bottom: 0;
}
.dropdown-hoverable {
  position: relative;
}
.dropdown-hoverable .dropdown {
  top: 53px!important;
  min-width: 200px;
  width: max-content;
  transform: none!important;
}
.dropdown-hoverable:hover .dropdown {
  display: block!important;
}
.dropdown-hoverable .dropdown:after {
  content: "";
  transform: translateX(50%);
  position: absolute;
  top: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
}
@media (min-width: 768px) {
  .footer-contacts {
    padding-bottom: 2.5rem;
    padding-top: 6rem;
    display: flex;
    justify-content: space-between;
  }
} 
@media (max-width: 768px) {
  #manage-cookies #target-inner, #init-cookies #target-inner {
    max-height: 90vh;
  }
  #target-inner {
    width: 95%;
  }
  .logo svg {
    display: none;
  }
  .logo {
    height: 35px;
    width: 35px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media (min-width: 640px) {
  .footer-contacts {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
@media (max-width: 991px) {
  .hidden-mobile.mobile-nav-item {
    display: block;
  }
  .global-header .header-logo a {
    margin: 0px 0 0 40px;
  }
  .global-header .main-header {
    height: auto;
  } 
  .logo {
    max-width: 120px;
  }
  #content {
    padding-top: 67px;
  }
  .search-form {
    padding: 0 20px;
  }
}
h1, h2, .home>header .title>.heading-group p, section.outside-app h1, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed';
  text-align: inherit;
}
.header .dropdown ul a {
  color: #000!important;
}
/**COOKIE MODAL**/
#manage-cookies, #init-cookies {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  z-index: 999;
  transition: opacity 200ms;
}
body.cookie, body.i-cookie {
  overflow: hidden;
}
body.cookie #manage-cookies, body.i-cookie #init-cookies {
  pointer-events: all;
  opacity: 1;
}

#manage-cookies #target-inner, #init-cookies #target-inner {
  position: absolute;
  display: block;
  line-height: 1.8;
  top: 50%;
  left: 50%;
  max-height: 70vh;
  overflow: auto;
  transform: translateX(-50%) translateY(-50%);
}
button {
  box-shadow: none!important;
  text-shadow: none!important;
  background-image: none!important;
}
#manage-cookies button {
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  border-radius: 0;
  padding: 0;
}
#cookie-popup-settings {
  border-width: 0;
}
#manage-cookies div.close, #init-cookies div.close {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0.6;
  transition: opacity 200ms;
}
footer .container>div {
  display: flex;
  table-layout: inherit;
  width: 100%;
  border: none;
  background: transparent;
}
.subscribe-btn {
  --tw-shadow: inset 0px 0px 0px 1px #08c6c5;
  border: 1px solid #08c6c5!important;
}
body .subscribe-btn:hover, .subscribe-btn:active, .subscribe-btn:focus {
  --tw-shadow: inset 0px 0px 0px 1px #08c6c5;
  background-color: #08c6c5!important;
  color: #000!important;
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(4px + var(--tw-ring-offset-width)) #00ffff57;
}
.cookie-toggle-input:checked+.cookie-toggle {
    --tw-bg-opacity: 1;
    background-color: rgba(86,210,129,var(--tw-bg-opacity))!important;
    justify-content: flex-end;
}