## mako

<%page expression_filter="h" args="online_help_token"/>

<%namespace name='static' file='../static_content.html'/>
<%namespace file='../main.html' import="login_query"/>

<%!
from django.conf import settings
from django.urls import reverse
from django.utils.translation import ugettext as _
from six import text_type

from openedx.core.djangoapps.user_authn.toggles import should_redirect_to_authn_microfrontend
%>

<%
  mktg_site_enabled = static.get_value('ENABLE_MKTG_SITE', settings.FEATURES.get('ENABLE_MKTG_SITE', False))
  courses_are_browsable = settings.FEATURES.get('COURSES_ARE_BROWSABLE')
  allows_login = not settings.FEATURES['DISABLE_LOGIN_BUTTON'] and not combined_login_and_register
  can_discover_courses = settings.FEATURES.get('ENABLE_COURSE_DISCOVERY')
  allow_public_account_creation = static.get_value('ALLOW_PUBLIC_ACCOUNT_CREATION', settings.FEATURES.get('ALLOW_PUBLIC_ACCOUNT_CREATION'))
  should_redirect_to_authn_mfe = should_redirect_to_authn_microfrontend()
%>
<div class="flex flex-wrap w-full md:flex-nowrap justify-between items-center mx-auto">
  <%include file="navbar-logo-header.html" args="online_help_token=online_help_token"/>
  % if allows_login:
    <div class="flex md:hidden ml-auto items-center">
      % if allow_public_account_creation:
        % if should_redirect_to_authn_mfe:
          <a class="text-base m-0 font-roboto border-none relative bg-black text-white md:ml-4 lg:ml-0 xl:ml-8 py-1 sm:py-3 px-2 sm:px-2 md:px-2 lg:px-2 xl:px-2" href="${settings.AUTHN_MICROFRONTEND_URL}/register${login_query()}">${_("Register")}</a>
        % else:
          <a class="text-base m-0 font-roboto border-none relative bg-black text-white md:ml-4 lg:ml-0 xl:ml-8 py-1 sm:py-3 px-2 sm:px-2 md:px-2 lg:px-2 xl:px-2" href="${settings.AUTHN_MICROFRONTEND_URL}/register${login_query()}">${_("Register")}</a>
        % endif
      % endif
      % if should_redirect_to_authn_mfe:
        <span class="text-base font-robot text-white">/</span>
        <a class="inline-flex items-center m-0 text-base font-roboto border-none text-primary rounded py-1 sm:py-3 px-2 sm:px-2 md:px-2 lg:px-2 xl:px-2" href="${settings.AUTHN_MICROFRONTEND_URL}/login${login_query()}">${_("Sign in")}</a>         
      % else:
        <span class="text-base font-robot text-white">/</span>
        <a class="inline-flex items-center m-0 text-base font-roboto border-none text-primary rounded py-1 sm:py-3 px-2 sm:px-2 md:px-2 lg:px-2 xl:px-2" href="/login${login_query()}">${_("Sign in")}</a>
      % endif
    </div>
  % endif
     
  <button data-collapse-toggle="mobile-menu" type="button" class="mobile-menu-toggler inline-flex justify-center items-center ml-3 text-gray-400 rounded-lg md:hidden focus:outline-none focus:ring-2 focus:ring-blue-300 dark:focus:ring-gray-500" aria-controls="mobile-menu-2" aria-expanded="false" aria-label=${_("Options Menu")}>
    <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path>
    </svg>
  </button>
  
  <div class="hidden w-full md:flex justify-between align-center md:ml-5" id="mobile-menu">
    <ul class="nav-links flex flex-col p-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm">
      % if allows_login:
        % if can_discover_courses:
          <li class="mobile-nav-item hidden-mobile nav-item nav-tab">
            <a href="javascript:void(0);" id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar" class="flex justify-center md:justify-between whitespace-nowrap items-center">${_("Training and Coaching")}</a>
        
            <div id="dropdownNavbar" class="dropdown hidden z-10 w-44 font-normal bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
              <ul class="py-1 text-sm text-gray-700 dark:text-gray-400" aria-labelledby="dropdownLargeButton">
                <li>
                  <a href="/courses" class="block border-none py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">${_('Knowledge Hub')}</a>
                </li>
              </ul>
            </div>
          </li>
        %endif
      % endif
    </ul>

    <div class="secondary flex items-center flex-column md:flex-row justify-center w-full md:justify-end">
      <div class="hidden md:flex items-center md:mr-6 mb-3 md:mb-0">
        % if allows_login:
          % if allow_public_account_creation:
            % if should_redirect_to_authn_mfe:
              <a class="text-base m-0 font-roboto border-none relative bg-black text-white md:ml-4 lg:ml-0 xl:ml-8 py-1 sm:py-3 px-2 sm:px-2 md:px-2 lg:px-2 xl:px-2" href="${settings.AUTHN_MICROFRONTEND_URL}/register${login_query()}">${_("Register")}</a>
            % else:
              <a class="text-base m-0 font-roboto border-none relative bg-black text-white md:ml-4 lg:ml-0 xl:ml-8 py-1 sm:py-3 px-2 sm:px-2 md:px-2 lg:px-2 xl:px-2" href="/register${login_query()}">${_("Register")}</a>
            % endif
          % endif
          % if should_redirect_to_authn_mfe:
            <span class="text-base font-robot text-white">/</span>
            <a class="inline-flex items-center m-0 text-base font-roboto border-none text-primary rounded py-1 sm:py-3 px-2 sm:px-2 md:px-2 lg:px-2 xl:px-2" href="${settings.AUTHN_MICROFRONTEND_URL}/login${login_query()}">${_("Sign in")}</a>         
          % else:
            <span class="text-base font-robot text-white">/</span>
            <a class="inline-flex items-center m-0 text-base font-roboto border-none text-primary rounded py-1 sm:py-3 px-2 sm:px-2 md:px-2 lg:px-2 xl:px-2" href="/login${login_query()}">${_("Sign in")}</a>
          % endif
        % endif
      </div>
      <div class="flex items-center">
        <a class="donation-buttons text-base m-0 font-roboto border-none shadow-inner relative
        bg-black text-white rounded shadow-inner md:ml-4 lg:ml-0 xl:ml-8 py-1 mr-4 sm:py-3 px-4 sm:px-6 md:px-9 lg:px-6 xl:px-6" href="https://www.liberties.eu/en/subscribe" target="_blank">Subscribe</a>
        <a class="inline-flex items-center m-0 donation-buttons text-base font-roboto border-none bg-orange text-white rounded py-1 sm:py-3 px-4 sm:px-6 md:px-9 lg:px-6 xl:px-9" href="https://www.liberties.eu/en/donate" target="_blank">Donate</a>
      </div>
    </div>
  </div>
</div>
