## mako

<%page expression_filter="h" args="online_help_token"/>

<%namespace name='static' file='../static_content.html'/>
<%namespace file='../main.html' import="login_query"/>

<%!
from django.conf import settings
from django.urls import reverse
from django.utils.translation import ugettext as _
from six import text_type

from openedx.core.djangoapps.user_authn.toggles import should_redirect_to_authn_microfrontend
%>

<%
  mktg_site_enabled = static.get_value('ENABLE_MKTG_SITE', settings.FEATURES.get('ENABLE_MKTG_SITE', False))
  courses_are_browsable = settings.FEATURES.get('COURSES_ARE_BROWSABLE')
  allows_login = not settings.FEATURES['DISABLE_LOGIN_BUTTON'] and not combined_login_and_register
  can_discover_courses = settings.FEATURES.get('ENABLE_COURSE_DISCOVERY')
  allow_public_account_creation = static.get_value('ALLOW_PUBLIC_ACCOUNT_CREATION', settings.FEATURES.get('ALLOW_PUBLIC_ACCOUNT_CREATION'))
  should_redirect_to_authn_mfe = should_redirect_to_authn_microfrontend()
%>
<div class="flex flex-wrap w-full xl:flex-nowrap justify-between items-center mx-auto">
  <%include file="navbar-logo-header.html" args="online_help_token=online_help_token"/>
  % if allows_login:
    <div class="flex xl:hidden ml-auto items-center">
      % if allow_public_account_creation:
        % if should_redirect_to_authn_mfe:
          <a class="text-base m-0 font-roboto border-none relative bg-black text-white md:ml-4 lg:ml-0 xl:ml-8 py-1 sm:py-3 px-2 sm:px-2 md:px-2 lg:px-2 xl:px-2" href="${settings.AUTHN_MICROFRONTEND_URL}/register${login_query()}">${_("Register")}</a>
        % else:
          <a class="text-base m-0 font-roboto border-none relative bg-black text-white md:ml-4 lg:ml-0 xl:ml-8 py-1 sm:py-3 px-2 sm:px-2 md:px-2 lg:px-2 xl:px-2" href="${settings.AUTHN_MICROFRONTEND_URL}/register${login_query()}">${_("Register")}</a>
        % endif
      % endif
      % if should_redirect_to_authn_mfe:
        <span class="text-base font-robot text-white">/</span>
        <a class="inline-flex items-center m-0 text-base font-roboto border-none text-primary rounded py-1 sm:py-3 px-2 sm:px-2 md:px-2 lg:px-2 xl:px-2" href="${settings.AUTHN_MICROFRONTEND_URL}/login${login_query()}">${_("Sign in")}</a>         
      % else:
        <span class="text-base font-robot text-white">/</span>
        <a class="inline-flex items-center m-0 text-base font-roboto border-none text-primary rounded py-1 sm:py-3 px-2 sm:px-2 md:px-2 lg:px-2 xl:px-2" href="/login${login_query()}">${_("Sign in")}</a>
      % endif
    </div>
  % endif
     
  <button data-collapse-toggle="mobile-menu" type="button" class="mobile-menu-toggler inline-flex justify-center items-center ml-3 text-gray-400 rounded-lg xl:hidden focus:outline-none focus:ring-2 focus:ring-blue-300" aria-controls="mobile-menu-2" aria-expanded="false" aria-label=${_("Options Menu")}>
    <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path>
    </svg>
  </button>
  
  <div class="hidden w-full xl:flex justify-between align-center xl:ml-5" id="mobile-menu">
    <ul class="nav-links flex flex-col items-center p-4 xl:flex-row xl:space-x-8 xl:mt-0 xl:text-sm">
      <li class="mobile-nav-item hidden-mobile nav-item nav-tab mb-3 xl:mb-0">
        <a href="javascript:void(0);" id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar" class="flex justify-center xl:justify-between whitespace-nowrap items-center">About Us</a>
    
        <div id="dropdownNavbar" class="dropdown hidden z-10 font-normal bg-white rounded divide-y divide-gray-100 shadow">
          <ul class="py-1 text-sm text-gray-700" aria-labelledby="dropdownLargeButton">
            <li class="flex py-2 px-2">
              <a href="https://www.liberties.eu/en/about/organisation" target="_self" class="block border-none my-2 mx-4">
                About Us
              </a>
            </li>
            <li class="flex py-2 px-2">
              <a href="https://www.liberties.eu/en/in-the-news" target="_self" class="block border-none my-2 mx-4">
                In the news
              </a>
            </li>
            <li class="flex py-2 px-2">
              <a href="https://www.liberties.eu/en/about/members-of-our-board" target="_self" class="block border-none my-2 mx-4">
                Members of the Board
              </a>
            </li>
            <li class="flex py-2 px-2">
              <a href="https://www.liberties.eu/en/about/core-team" target="_self" class="block border-none my-2 mx-4">
                Our Team
              </a>
            </li>
            <li class="flex py-2 px-2">
              <a href="https://www.liberties.eu/en/about/our-network" target="_self" class="block border-none my-2 mx-4">
                Our Members
              </a>
            </li>
            <li class="flex py-2 px-2">
              <a href="https://www.liberties.eu/en/vacancies" target="_self" class="block border-none my-2 mx-4">
                Vacancies
              </a>
            </li>
          </ul>
        </div>
      </li>
        
      <li class="mobile-nav-item hidden-mobile nav-item nav-tab mb-3 xl:mb-0">
        <a href="javascript:void(0);" id="dropdownNavbarLink2" data-dropdown-toggle="dropdownNavbar-work" class="flex justify-center xl:justify-between whitespace-nowrap items-center">Our work</a>
    
        <div id="dropdownNavbar-work" class="dropdown hidden z-10 font-normal bg-white rounded divide-y divide-gray-100 shadow">
          <ul class="py-1 text-sm text-gray-700" aria-labelledby="dropdownLargeButton">
            <li class="flex py-2 px-2">
              <a href="https://www.liberties.eu/en/theme/tech-and-rights" target="_self" class="block border-none my-2 mx-4">
                Tech & rights
              </a>
            </li>
            <li class="flex py-2 px-2">
              <a href="https://www.liberties.eu/en/theme/democracy-and-justice" target="_self" class="block border-none my-2 mx-4">
                Democracy & Justice
              </a>
            </li>
            <li class="flex py-2 px-2">
              <a href="https://www.liberties.eu/en/theme/eu-watch" target="_self" class="block border-none my-2 mx-4">
                EU Watch
              </a>
            </li>
            <li class="flex py-2 px-2">
              <a href="https://www.liberties.eu/en/theme/training-and-coaching" target="_self" class="block border-none my-2 mx-4">
                Training & Coaching
              </a>
            </li>
            <li class="flex py-2 px-2">
              <a href="https://knowledgehub.liberties.eu" class="block border-none my-2 mx-4">${_('Knowledge Hub')}</a>
            </li>
            <li class="flex py-2 px-2">
              <a href="https://www.liberties.eu/en/reports-and-papers" target="_self" class="block border-none my-2 mx-4">
                Reports & Papers
              </a>
            </li>
          </ul>
        </div>
      </li>
      
      <li class="mobile-nav-item hidden-mobile nav-item nav-tab mb-3 xl:mb-0">
        <a href="https://www.liberties.eu/en/get-involved" target="_self" class="flex justify-center whitespace-nowrap xl:justify-between items-center">
          Get involved
        </a>
      </li>
      <li class="mobile-nav-item hidden-mobile nav-item nav-tab mb-3 xl:mb-0">
        <a href="https://www.liberties.eu/en/stories" target="_self" class="flex justify-center whitespace-nowrap xl:justify-between items-center">
          Stories
        </a>
      </li>
      <li class="mobile-nav-item hidden-mobile nav-item nav-tab mb-3 xl:mb-0">
        <a href="https://www.liberties.eu/en/about/contacts" target="_self" class="flex justify-center whitespace-nowrap xl:justify-between items-center">
          Contact
        </a>
      </li>
      <li class="mobile-nav-item hidden-mobile nav-item nav-tab mb-3 xl:mb-0">
        <a href="https://www.liberties.eu/en/search" target="_self" class="flex justify-center whitespace-nowrap xl:justify-between items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.455 7.364a4.09 4.09 0 11-8.182 0 4.09 4.09 0 018.182 0zm-.875 4.74a5.727 5.727 0 111.213-1.108l4.306 3.946a.818.818 0 01-1.106 1.207l-4.413-4.046z" fill="#969696"></path>
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M11.455 7.364a4.09 4.09 0 11-8.182 0 4.09 4.09 0 018.182 0zm-.875 4.74a5.727 5.727 0 111.213-1.108l4.306 3.946a.818.818 0 01-1.106 1.207l-4.413-4.046z" fill="#969696"></path>
              </svg>
          </svg>
        </a>
      </li>
    </ul>

    <div class="secondary flex items-center flex-column xl:flex-row justify-center w-full xl:justify-end">
      <div class="hidden xl:flex items-center mb-3 xl:mb-0">
        % if allows_login:
          % if allow_public_account_creation:
            % if should_redirect_to_authn_mfe:
              <a class="text-base m-0 font-roboto border-none relative bg-black text-white xl:ml-8 py-1 sm:py-3 px-2 sm:px-2 xl:px-2" href="${settings.AUTHN_MICROFRONTEND_URL}/register${login_query()}">${_("Register")}</a>
            % else:
              <a class="text-base m-0 font-roboto border-none relative bg-black text-white md:ml-4 lg:ml-0 xl:ml-8 py-1 sm:py-3 px-2 sm:px-2 xl:px-2" href="/register${login_query()}">${_("Register")}</a>
            % endif
          % endif
          % if should_redirect_to_authn_mfe:
            <span class="text-base font-robot text-white">/</span>
            <a class="inline-flex items-center m-0 text-base font-roboto border-none text-primary rounded py-1 sm:py-3 px-2 sm:px-2 xl:px-2" href="${settings.AUTHN_MICROFRONTEND_URL}/login${login_query()}">${_("Sign in")}</a>         
          % else:
            <span class="text-base font-robot text-white">/</span>
            <a class="inline-flex items-center m-0 text-base font-roboto border-none text-primary rounded py-1 sm:py-3 px-2 sm:px-2 xl:px-2" href="/login${login_query()}">${_("Sign in")}</a>
          % endif
        % endif
      </div>
      <div class="flex items-center">
        <a class="donation-buttons subscribe-btn text-base m-0 font-roboto border-none shadow-inner relative
        bg-black text-white rounded shadow-inner md:ml-4 lg:ml-0 xl:ml-8 py-1 mr-8 sm:py-3 px-4 sm:px-6 xl:px-5" href="https://www.liberties.eu/en/subscribe" target="_self">Subscribe</a>
        <a class="inline-flex items-center m-0 donation-buttons text-base font-roboto border-none bg-orange text-white rounded py-1 sm:py-3 px-4 sm:px-6 xl:px-8" href="https://www.liberties.eu/en/donate" target="_self">Donate</a>
      </div>
    </div>
  </div>
</div>
