## mako

<%page expression_filter="h" args="online_help_token"/>

<%namespace name='static' file='../static_content.html'/>
<%namespace file='../main.html' import="login_query"/>
<%!
from django.urls import reverse
from django.utils.translation import ugettext as _
from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
%>

<%
  show_explore_courses = settings.FEATURES.get('COURSES_ARE_BROWSABLE')
  self.real_user = getattr(user, 'real_user', user)
  enable_help_link = settings.FEATURES.get('ENABLE_HELP_LINK')

  support_link = configuration_helpers.get_value('SUPPORT_SITE_LINK', settings.SUPPORT_SITE_LINK)
  doc_link = get_online_help_info(online_help_token)['doc_url']

  if online_help_token == "instructor":
    help_link = doc_link
  elif support_link:
    help_link = support_link
  else:
    help_link = doc_link
%>
<div class="flex flex-wrap w-full xl:flex-nowrap justify-between items-center mx-auto">
  <%include file="navbar-logo-header.html" args="online_help_token=online_help_token"/>

  <div class="ml-auto items-center nav-links dropdown-hoverable flex xl:order-last">
    <%include file="user_dropdown.html"/>
  </div>
  
  <button data-collapse-toggle="mobile-menu" type="button" class="mobile-menu-toggler inline-flex justify-center items-center ml-3 text-gray-400 rounded-lg xl:hidden focus:outline-none focus:ring-2 focus:ring-blue-300" aria-controls="mobile-menu-2" aria-expanded="false" aria-label=${_("Options Menu")}>
    <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path>
    </svg>
  </button>

  <div class="items-center hidden xl:flex xl:order-last">
    <a class="donation-buttons subscribe-btn text-base m-0 font-roboto border-none shadow-inner relative
    bg-black text-white rounded shadow-inner md:ml-4 lg:ml-0 xl:ml-8 py-1 mr-8 sm:py-3 px-4 sm:px-6 xl:px-5" href="https://www.liberties.eu/en/subscribe" target="_self">Subscribe</a>
    <a class="inline-flex items-center m-0 donation-buttons text-base font-roboto border-none bg-orange text-white rounded py-1 sm:py-3 px-4 sm:px-6 xl:px-8" href="https://www.liberties.eu/en/donate" target="_self">Donate</a>
  </div>

  <div class="hidden w-full xl:flex items-center justify-between align-center xl:ml-5" id="mobile-menu">
    <ul class="nav-links flex flex-col px-4 xl:flex-row xl:space-x-8 xl:mt-0 xl:text-sm">
      <li class="mobile-nav-item hidden-mobile nav-item nav-tab py-3 mb-3 xl:mb-0 dropdown-hoverable">
        <a href="javascript:void(0);" id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar" class="flex justify-center xl:justify-between whitespace-nowrap items-center">About Us</a>
    
        <div id="dropdownNavbar" class="dropdown hidden z-10 font-normal bg-white rounded divide-y divide-gray-100 shadow">
          <ul class="py-1 text-sm text-gray-700" aria-labelledby="dropdownLargeButton">
            <li class="flex px-2">
              <a href="https://www.liberties.eu/en/about/organisation" target="_self" class="block border-none my-2 mx-4">
                About Us
              </a>
            </li>
            <li class="flex px-2">
              <a href="https://www.liberties.eu/en/in-the-news" target="_self" class="block border-none my-2 mx-4">
                In the news
              </a>
            </li>
            <li class="flex px-2">
              <a href="https://www.liberties.eu/en/about/members-of-our-board" target="_self" class="block border-none my-2 mx-4">
                Members of the Board
              </a>
            </li>
            <li class="flex px-2">
              <a href="https://www.liberties.eu/en/about/core-team" target="_self" class="block border-none my-2 mx-4">
                Our Team
              </a>
            </li>
            <li class="flex px-2">
              <a href="https://www.liberties.eu/en/about/our-network" target="_self" class="block border-none my-2 mx-4">
                Our Members
              </a>
            </li>
            <li class="flex px-2">
              <a href="https://www.liberties.eu/en/vacancies" target="_self" class="block border-none my-2 mx-4">
                Vacancies
              </a>
            </li>
          </ul>
        </div>
      </li>
        
      <li class="mobile-nav-item hidden-mobile nav-item nav-tab py-3 mb-3 xl:mb-0 dropdown-hoverable">
        <a href="javascript:void(0);" id="dropdownNavbarLink2" data-dropdown-toggle="dropdownNavbar-work" class="flex justify-center xl:justify-between whitespace-nowrap items-center">Our work</a>
    
        <div id="dropdownNavbar-work" class="dropdown hidden z-10 font-normal bg-white rounded divide-y divide-gray-100 shadow">
          <ul class="py-1 text-sm text-gray-700" aria-labelledby="dropdownLargeButton">
            <li class="flex px-2">
              <a href="https://www.liberties.eu/en/theme/tech-and-rights" target="_self" class="block border-none my-2 mx-4">
                Tech & rights
              </a>
            </li>
            <li class="flex px-2">
              <a href="https://www.liberties.eu/en/theme/democracy-and-justice" target="_self" class="block border-none my-2 mx-4">
                Democracy & Justice
              </a>
            </li>
            <li class="flex px-2">
              <a href="https://www.liberties.eu/en/theme/eu-watch" target="_self" class="block border-none my-2 mx-4">
                EU Watch
              </a>
            </li>
            <li class="flex px-2">
              <a href="https://www.liberties.eu/en/theme/training-and-coaching" target="_self" class="block border-none my-2 mx-4">
                Training & Coaching
              </a>
            </li>
            <li class="flex px-2">
              <a href="https://knowledgehub.liberties.eu" class="block border-none my-2 mx-4">${_('Knowledge Hub')}</a>
            </li>
            <li class="flex px-2">
              <a href="https://www.liberties.eu/en/reports-and-papers" target="_self" class="block border-none my-2 mx-4">
                Reports & Papers
              </a>
            </li>
          </ul>
        </div>
      </li>
      
      <li class="mobile-nav-item hidden-mobile nav-item nav-tab py-3 mb-3 xl:mb-0">
        <a href="https://www.liberties.eu/en/get-involved" target="_self" class="flex justify-center whitespace-nowrap xl:justify-between items-center">
          Get involved
        </a>
      </li>
      <li class="mobile-nav-item hidden-mobile nav-item nav-tab py-3 mb-3 xl:mb-0">
        <a href="https://www.liberties.eu/en/stories" target="_self" class="flex justify-center whitespace-nowrap xl:justify-between items-center">
          Stories
        </a>
      </li>
      <li class="mobile-nav-item hidden-mobile nav-item nav-tab py-3 mb-3 xl:mb-0">
        <a href="https://www.liberties.eu/en/about/contacts" target="_self" class="flex justify-center whitespace-nowrap xl:justify-between items-center">
          Contact
        </a>
      </li>
      <li class="mobile-nav-item hidden-mobile nav-item nav-tab py-3 mb-3 xl:mb-0">
        <a href="https://www.liberties.eu/en/search" target="_self" class="flex justify-center whitespace-nowrap xl:justify-between items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.455 7.364a4.09 4.09 0 11-8.182 0 4.09 4.09 0 018.182 0zm-.875 4.74a5.727 5.727 0 111.213-1.108l4.306 3.946a.818.818 0 01-1.106 1.207l-4.413-4.046z" fill="#969696"></path>
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M11.455 7.364a4.09 4.09 0 11-8.182 0 4.09 4.09 0 018.182 0zm-.875 4.74a5.727 5.727 0 111.213-1.108l4.306 3.946a.818.818 0 01-1.106 1.207l-4.413-4.046z" fill="#969696"></path>
              </svg>
          </svg>
        </a>
      </li>
    </ul>

    <div class="secondary flex items-center flex-column xl:hidden justify-center w-full">
      <div class="flex items-center">
        <a class="donation-buttons subscribe-btn text-base m-0 font-roboto border-none shadow-inner relative
        bg-black text-white rounded shadow-inner md:ml-4 lg:ml-0 xl:ml-8 py-1 mr-8 sm:py-3 px-4 sm:px-6 xl:px-5" href="https://www.liberties.eu/en/subscribe" target="_self">Subscribe</a>
        <a class="inline-flex items-center m-0 donation-buttons text-base font-roboto border-none bg-orange text-white rounded py-1 sm:py-3 px-4 sm:px-6 xl:px-8" href="https://www.liberties.eu/en/donate" target="_self">Donate</a>
      </div>
    </div>
  </div>
</div>
